$primary: #114949;
$secundary:#176662;
$clean: #b1f1e9;
$size:15px;

* {
   padding: 0;
   margin: 0%;
}

.header {
   background: $primary;
   box-shadow: 0 0 10px #000;
   position: fixed;
   width: 100%;
   padding: $size;
   box-sizing: border-box;
   z-index: 9999;
   & &-logo{
      float: left;
      img {
         width: 70px !important;
         border-radius: 10px;
      }
   }
   & &-nav { 
      float: right;
      ul{
         list-style: none;
         margin-top: 20px;
         li{
            display: inline-block;
            a{
               margin: 20px;
               padding: $size;
               color: $clean;
               text-decoration: none;
               transition: all 0.5s;
               &:hover {
                  background: $secundary;
               }
            }
         }
      }
   }
}
 
body {
    background-color: $clean !important;
 }

 main {
   padding-top: 100px;
    width: 1000px;
    margin: auto;
    h1{
      padding-bottom: $size;
    }
 }

 footer{
   color:$secundary;

 }

 .carousel-inner {
   display: flex;
   justify-content: center;
 }

 .contato {
   background-image: url("imagens/contatofundo.avif");

 }

 
@media screen and (max-width:430px) {
   
}