$primary: #021e30;
$secundary: #5b30f8;
$clean: #04315e;
$size: 15px;
$font1: Cardo, "DM Serif Display"; //fots principais
$font2: "Permanent Marker"; //font para titulos
$font3: "Bebas Neue"; //font p nome dos jogos
$font4: teko; //font p texto dos jogos
$color-neutral-0: #ffffff;
$color-neutral-10: #f4f4f4;
$color-neutral-30: #999999;
$color-neutral-40: #666666;

:root{
   /* FONT */
   --font: Cardo,"DM Serif Display" ;
 
   /* COLORS */
   --color: #9176FF;
   --bg-color: #f4f4f4;
 }

* {
   padding: 0;
   margin: 0%;
}

.sobreG7 {
   h1{
      padding-top: 65px;
      padding-bottom: 35px;
      font-family: $font1;
      font-size: 20px;
      background-color: #164672;
   }
   .swiper {
      width: 100%;
    }
    
    .swiper-wrapper {
      width: 100%;
      height: 35em;
      display: flex;
      align-items: center;
    }
    
    .card {
      width: 20em;
      height: 90%;
      background-color: #fff;
      border-radius: 2em;
      box-shadow: 0 0 2em rgba(0, 0, 0, .2);
      padding: 2em 1em;
    
      display: flex;
      align-items: center;
      flex-direction: column;
    
      margin: 0 2em;
    
      &.swiper-slide:not(.swiper-slide-active) {
        filter: blur(1px);
      }
    
      .card__image {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 5px solid var(--color);
        padding: 3px;
        margin-bottom: 2em;
    
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    
      .card__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        .card__title {
          font-size: 1.5rem;
          font-weight: 500;
          position: relative;
          top: .2em;
        }
    
        .card__name {
          color: var(--color);
        }
    
        .card__text {
          text-align: center;
          font-size: 1.1rem;
          margin: 1em 0;
        }
    
        .card__btn {
          background-color: var(--color);
          color: #fff;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 600;
          border: none;
          padding: .5em;
          border-radius: .5em;
          margin-top: .5em;
          cursor: pointer;
        }
      }
    }
   //pagsobre
   // h1{
   //    padding-top: 45px;
   // }
   // background-color: $secundary;
   // color: #000;
   // font-family: $font1;

   // img {
   //    width: 100px;
   // }

   // i.bi {
   //    font-size: 30px; // Tamanho desejado para os ícones
   //  }
}

.carouselExampleAutoplaying{
   img{
   width: 100%;
   height: auto;
   }
}

.jogo-destaque {
   h1 {
      font-family: $font3;
   }

   img {
      border-radius: 5px;
   }
}

.grid {
   //pagjogos
   /* aplicar a grid */
   display: grid;
   /* configuro as colunas */
   grid-template-columns: 33% 33% 33%;

   .card {
      /* sombra */
      box-shadow: 0 0 10px #CCC;
      /* borda arredondada */
      border-radius: 10px;
      /* margem externa */
      margin: 10px;

      img {
         width: 100%;
         /* arredondar cantos */
         border-radius: 10px 10px 0 0;
      }

      p {
         margin: 15px;
         /* alinhar ao centro */
         text-align: center;
      }
   }
}

body {
   background-color: $clean !important;
   font: 16px;
   font-family: $font1;
   color: #fff;
}

.header {
   background: $primary;
   box-shadow: 0 0 10px #000;
   position: fixed;
   width: 100%;
   box-sizing: border-box;
   z-index: 9999;

   & &-logo {
      float: left;

      img {
         width: 70px !important;
         border-radius: 6px;
         padding-top: 12px;
         padding-left: 5px;
      }
   }

.btn{
   color: #CCC !important;
   &:hover{
      color: white !important;
   }

}

   ul {
      list-style: none;
      margin-top: 20px;

      li {
         padding: 10px;
         box-sizing: border-box;
         border-bottom: 1px solid $clean;
         text-decoration: none !important;

         a {
            margin: 20px;
            padding: $size;
            color: #CCC;
            text-decoration: none !important;
         }
      }
   }

   & &-menu {
      float: right;
   }
   
img {
   width: 10px;
}

}


.show {
   display: inline-block !important;
}

main {
   padding-top: 50px;
   color: #fff;
   margin: auto;

   h1 {
      padding-top: 45px;
      font-family: $font2;
      text-align: center;
   }

   .container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 100px;
      /* Card */
      .card {
        width: 300px;
        height: 460px;
        margin: 25px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        transition: 0.3s;
    
        /* Card Header*/
        .card-header {
          width: 100%;
          height: 200px;
          overflow: hidden;
    
          .card-img {
            min-width: 100%;
            width: auto;
            height: 100%;
          }
        }
    
        /* Card Body */
        .card-body {
          height: 170px;
          padding: 15px;
          text-align: center;
          font-family: sans-serif;
    
          .card-local {
            font-size: 16px;
            margin: 10px 0;
          }
    
          .card-titulo {
            font-size: 32px;
            margin: 15px 0;
          }
    
          .card-texto {
            font-size: 12px;
            width: 250px;
            margin: 0 auto;
          }
        }
    
        /* Card Footer */
        .card-footer {
          margin-top: 10px;
          text-align: center;
          background-color: #000;
    
          a {
            color: #fff;
            display: block;
            padding: 16px;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: 600;
          }
        }
    
        /* Cores Cards */
        &.card-1 {
          .card-footer {
            background-color: #2740d1;
          }
    
          .card-local {
            color: #2740d1;
          }
        }
    
        &.card-2 {
          .card-footer {
            background-color:#2740d1;
          }
    
          .card-local {
            color: #2740d1;
          }
        }
    
        &.card-3 {
          .card-footer {
            background-color: #2740d1;
          }
    
          .card-local {
            color: #2740d1;
          }
        }
    
        /* Animação Hover */
        &:hover {
          transform: scale3d(1.1, 1.1, 1);
        }
      }
    }

//    .container {
//       h2{
//          padding-bottom: 30px;
//          padding-top: 70px;
//          font-family: $font1;
//       }
//    .grid {
//       display: grid;
//       grid-template-columns: repeat(3, 1fr); // Utilizando repeat() para simplificar a definição das colunas
//       gap: 20px; // Espaçamento entre as colunas e linhas da grid
//       padding-bottom: 70px;
//   }
  
//   .grid .coluna {
//       box-shadow: 0 0 10px #81c1fd;
//       border-radius: 10px;
//       margin: 10px;
  
//       img {
//           width: 100%;
//           border-radius: 10px 10px 0 0; // Aplicando borda arredondada apenas nos cantos superiores
//       }
  
//       p {
//           margin: 15px;
//           text-align: center;
//       }
//   }
//    }

//    .catalago {

//       //em home
//       h1 {
//          font: $font3;
//       }

//       img {
//          width: 500px;
//       }
//    }

//    // .jogo-destaque {
//    //    display: flex;
//    //    margin: auto;
//    //    flex-direction: column;
//    //    justify-content: space-around;
//    //    align-items: center;
//    //    //em home
//    //    h1 {
//    //       margin: auto;
//    //       font: $font2;
//    //    }

//    //    img {
//    //       margin: auto;
//    //       width: 500px;
//    //    }
//    // }

//    //  center imagens game
//    & .game-destaque-center {
//       text-align: center;

//       & img {
//          border-radius: 20px;
//       }
//    }
}

.btn-center {
   width: 120px;
   margin: 20px auto;

   & .btn {
      text-align: center;
      border-radius: 20px;
   }
}

.catalago-jogos {

   //jogos
   h1 {
      padding-top: 40px;
      font-family: $font2;
   }
}

.flex-game {
   display: flex;
   flex-wrap: wrap;

   & &-coluna {
      width: 98%;
      border: 1px solid $clean;
      border-radius: 10px;
      margin-bottom: 10px;

      img {
         width: 100%;
         border-radius: 10px;
      }
   }
}

.sobre {
   padding: auto;
   font-family: $font1;
}

footer {

   width: 100%;
   color: $color-neutral-40;
}

.footer-link {
   text-decoration: none;
}

#footer_content {
   background-color: $color-neutral-10;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 3rem 3.5rem;

   @media screen and (max-width: 768px) {
       grid-template-columns: repeat(2, 1fr);
       gap: 2rem;
   }

   @media screen and (max-width: 426px) {
       grid-template-columns: repeat(1, 1fr);
       padding: 3rem 2rem;
   }
}

#footer_contacts {
   h1 {
       margin-bottom: 0.75rem;
   }
}

#footer_social_media {
   display: flex;
   gap: 2rem;
   margin-top: 1.5rem;

   .footer-link {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 2.5rem;
       width: 2.5rem;
       color: $color-neutral-40;
       border-radius: 50%;
       transition: all 0.4s;

       i {
           font-size: 1.25rem;
       }

       &:hover {
           opacity: 0.8;
       }
   }

   #instagram {
       background: linear-gradient(#7f37c9, #ff2992, #ff9807);
   }

   #facebook {
       background-color: #4267b3;
   }

   #whatsapp {
       background-color: #25d366;
   }
}

.footer-list {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   list-style: none;

   .footer-link {
       color: $color-neutral-30;
       transition: all 0.4s;

       &:hover {
           color: #7f37c9;
       }
   }
}

#footer_subscribe {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;

   p {
       color: $color-neutral-30;
   }

   #input_group {
       display: flex;
       align-items: center;
       background-color: $color-neutral-0;
       border-radius: 4px;

       input {
           all: unset;
           padding: 0.75rem;
           width: 100%;
       }

       button {
           background-color: #7f37c9;
           border: none;
           color: $color-neutral-40;
           padding: 0px 1.25rem;
           font-size: 1.125rem;
           height: 100%;
           border-radius: 0px 4px 4px 0px;
           cursor: pointer;
           transition: all 0.4s;

           &:hover {
               opacity: 0.8;
           }
       }
   }
}

#footer_copyright {
   display: flex;
   justify-content: center;
   background-color: $color-neutral-0;
   font-size: 0.9rem;
   padding: 1.5rem;
   font-weight: 100;
}

.erropagina {
   width: 90%;
   h2{
      font-family: $font3;
   }
}

@media (min-width: 1000px) and (max-width: 1920px) {
   .header {
      & &-menu {
         display: none !important;
      }

      & &-nav {
         width: auto;
         display: block;
         float: right;
      }

      ul {
         li {
            display: inline-block;
            border: 0;

            a:hover {
               color: #fff;
            }
         }
      }
   }

}

.flex-game {
   & &-img {
      width: 30%;
   }

   h2 {
      p {
         width: 68%;
         margin: 10px;
      }
   }
}

.sobreG7 {
   img {
      width: 150px;
   }
}